<div class="min-h-screen flex items-center justify-center bg-gray-50 px-4 py-12">
  <div class="max-w-md w-full space-y-8 bg-white p-10 rounded-2xl shadow-xl border border-gray-100">
    <div class="text-center">
      <h2 class="text-3xl font-bold text-indigo-600">Join 01Blog</h2>
      <p class="mt-2 text-gray-500">Create your account to start sharing</p>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="space-y-5">

      <div>
        <label class="block text-sm font-semibold text-gray-700">Username</label>
        <input formControlName="username" type="text"
          class="mt-1 block w-full px-4 py-3 bg-gray-50 border border-gray-300 rounded-lg focus:ring-2 focus:ring-indigo-400 focus:border-transparent outline-none transition">
      </div>

      <div>
        <label class="block text-sm font-semibold text-gray-700">Email</label>
        <input formControlName="email" type="email"
          class="mt-1 block w-full px-4 py-3 bg-gray-50 border border-gray-300 rounded-lg focus:ring-2 focus:ring-indigo-400 focus:border-transparent outline-none transition">
      </div>

      <div>
        <label class="block text-sm font-semibold text-gray-700">Bio</label>
        <input formControlName="bio" type="bio"
          class="mt-1 block w-full px-4 py-3 bg-gray-50 border border-gray-300 rounded-lg focus:ring-2 focus:ring-indigo-400 focus:border-transparent outline-none transition">
      </div>

      <div>
        <label class="block text-sm font-semibold text-gray-700">Password</label>
        <input formControlName="password" type="password"
          class="mt-1 block w-full px-4 py-3 bg-gray-50 border border-gray-300 rounded-lg focus:ring-2 focus:ring-indigo-400 focus:border-transparent outline-none transition">
      </div>
      <input type="file" (change)="onFileSelected($event)" accept="image/*">

      <button type="submit" [disabled]="registerForm.invalid"
        class="w-full py-3 px-4 bg-indigo-600 hover:bg-indigo-700 text-white font-bold rounded-lg shadow-md hover:shadow-lg transition duration-200 disabled:bg-gray-400">
        Register
      </button>

    </form>

    <div class="text-center mt-4">
      <a routerLink="/login" class="text-sm text-indigo-600 hover:underline">Already have an account? Login</a>
    </div>
  </div>
</div>
